<!DOCTYPE html>
<html>
<head>
    <title>Paste69</title>
    <script src="/public/js/app.js"></script>
    <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>
    {{{embed}}}
</body>
</html> 