<!DOCTYPE html>
<html>
<head>
    <title>Paste69</title>
    <script type="module" src="/public/js/app.js"></script>
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/charts.css">
    <link rel="icon" type="image/png" href="/public/favicon.ico">
    
    <!-- Open Graph -->
    <meta property="og:title" content="Paste69">
    <meta property="og:description" content="Paste69 is an fast and open source pastebin, file bin, and link shortener written in Go.">
    <meta property="og:image" content="{{baseUrl}}/public/0x45-og.png">
    <meta property="og:url" content="{{baseUrl}}">
</head>
<body>
    <div class="container">
        {{{embed}}}
    </div>
</body>
</html>