<!DOCTYPE html>
<html>
<head>
    <title>Paste69</title>
    <script type="module" src="/public/js/app.js"></script>
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/charts.css">
</head>
<body>
    <div class="container">
        {{{embed}}}
    </div>
</body>
</html> 