{{#if isDeleteSuccess}}
<div class="nav-bar">
    <a href="{{baseUrl}}" class="nav-link">cd ..</a>
</div>

<div class="info-box">
    <h2>Paste Deleted</h2>
    <p>The paste has been successfully deleted.</p>
    <p>You can create a new paste by visiting <a href="{{baseUrl}}/submit">/submit</a>.</p>
</div>
{{/if}}